
@font-face {
  font-family: "EuclidCircularB";
  font-weight: 400;
  src: local("EuclidCircularB"),
    url("../fonts/EuclidCircularB-Regular.woff2") format("woff2"),
    url("../fonts/EuclidCircularB-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "EuclidCircularB";
  font-weight: 500;
  src: local("EuclidCircularB-Medium"),
    url("../fonts/EuclidCircularB-Medium.woff2") format("woff2"),
    url("../fonts/EuclidCircularB-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "EuclidCircularB";
  font-weight: 600;
  src: local("EuclidCircularB-SemiBold"),
    url("../fonts/EuclidCircularB-SemiBold.woff2") format("woff2"),
    url("../fonts/EuclidCircularB-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "EuclidCircularB";
  font-weight: 700;
  src: local("EuclidCircularB-Bold"), url("../fonts/EuclidCircularB-Bold.woff2") format("woff2"),
    url("../fonts/EuclidCircularB-Bold.woff") format("woff");
  font-display: swap;
}

